.full_height {
  height: 93vh;
}

.w-90 {
  width: 49.5%;
}

label {
  font-weight: 500;
  font-size: 18px;
}

/* Sign buttons */
button.Sign {
  padding: 10px 30px;
  font-weight: 700;
  color: #fff;
  border: 4px solid #fff;
  border-radius: 10px;
  text-decoration: none;
  background-color: #333333;
}

button.Sign i {
  font-size: 40px;
}

button.Sign:hover {
  border: 4px solid #00ff7f; /* replace $mainColor_lightGreen */
}

button.Sign:hover i {
  color: #00ff7f; /* replace $mainColor_lightGreen */
}

button.Sign.active {
  border: 4px solid #00ff7f;
}

button.Sign.active i {
  color: #00ff7f;
}

/* animation for image container */
@keyframes upAndDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
}

#image-container {
  animation: upAndDown 3s ease infinite;
}

/* Submit button */
.submit {
  font-size: 20px;
  font-weight: 700;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 15px;
  color: #333333; /* replace $mainColor_dark */
  transition: 1s ease;
  border: 3px solid #fff;
  position: relative;
}

.submit:hover {
  border: 3px solid #fff;
}

/* Hover effect background inside submit button */
.bg-true {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  background-color: #00ff7f; /* replace $mainColor_lightGreen */
  top: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  position: absolute;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s;
  opacity: 0;
  border-radius: 15px;
}

.submit:hover .bg-true {
  opacity: 1;
  top: 0;
}
